{{>header}}
<form>
    <div class="form-group">
        <label for="inputSearch" Enter Place:</label>
            <input type="text" class="form-control" id="inputSearch" placeholder="Enter Place">
    <button id="btnSubmit" onclick="submitQuery()" class="btn btn-primary">Search</button>
    </div>
</form>

<p id="temp"></p>
<p id="desc"></p>

{{>footer}}